<div class="container" style="text-align: center; width: 350px; margin-top: 80px">

    <form class="form-signin">
  
      <h2 class="form-signin-heading" style="margin: 10px">Please sign in</h2>
      <label for="inputNickname" style="margin: 10px" class="sr-only">Email address Or Nickname</label>
      <input [(ngModel)]="nickname" [ngModelOptions]="{standalone: true}" type="text" id="inputNickname" style="margin: 10px"
        class="form-control" placeholder="NickName" required="">
      <label for="inputPassword" style="margin: 10px" class="sr-only">Password</label>
      <input [(ngModel)]="password" [ngModelOptions]="{standalone: true}" type="password" style="margin: 10px" id="inputPassword"
        class="form-control" placeholder="Password" required="">
      <button (click)="onClick()" class="btn btn-lg btn-dark btn-block" style="margin: 10px" type="submit">Sign in</button>
  
    </form>
  
    <a  routerLink="/register">Or you can register</a>
  
  </div>